/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my css */
body,
a {
    color: #404040;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-family: "Noto Sans", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/* 自訂區 */
.fw700 {
    font-weight: 700;
}

.fz80 {
    font-size: 80px;
    line-height: 120%;
}

.fz48 {
    font-size: 48px;
}

.fz32{
    font-size: 32px;
}

.fz28 {
    font-size: 28px;
}

.fz24 {
    font-size: 24px;
}

.fz20{
    font-size: 20px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb60 {
    margin-bottom: 60px;
}

.mr12 {
    margin-right: 12px;
}

.ptb80 {
    padding: 80px 0px;
}

.p24 {
    padding: 24px;
}

.p28 {
    padding: 28px;
}

.p40 {
    padding: 40px;
}

.gap12 {
    gap: 12px;
}

.gap16 {
    gap: 16px;
}

.gap20 {
    gap: 20px;
}

.gap24 {
    gap: 24px;
}

.gap40 {
    gap: 40px;
}

.df {
    display: flex;
}

.db {
    display: block;
}

.jcsb {
    justify-content: space-between;
}

.jcc {
    justify-content: center;
}

.alc {
    align-items: center;
}

.fdc {
    flex-direction: column;
}

.alse {
    align-self: flex-end;
}

.img-block {
    display: block;
    object-fit: cover;
}

/* container */
.contact,
.subscription,
.blogs,
.projects,
.blog-post,
.index,
.nvbar,
.service-container {
    max-width: 1296px;
    margin: 0 auto;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.service-container {
    max-width: 1076px;
    margin: 0 auto;
}

/* 按鈕 */
.btn-black {
    border-radius: 999px;
    text-decoration: none;
    padding: 12px 24px;
    color: #fff;
    display: block;
    background-color: #404040;
    font-weight: 500;
}

.btn-white {
    border: #404040 1px solid;
    border-radius: 999px;
    text-decoration: none;
    padding: 12px 24px;
    color: #404040;
    display: block;
    background-color: #fff;
    font-weight: 500;
}

/* 表單系列 */
.forms-style {
    border: solid #fff 1px;
    padding: 12px 24px;
    border-radius: 40px;
    width: 100%;
}

input,
textarea,
button {
    font: inherit;
    outline: none;
}

input,
textarea {
    color: #fff;
    background: none;
    border: 0px;
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, .8);

}

/* tiltes */
.blog-header-bg {
    background-image: url(./img/blog_banner.png);
    background-size: cover;
}

.project-header-bg {
    background-image: url(./img/project_banner.png);
    background-size: cover;
}

.service-header-bg {
    background-image: url(./img/service_banner.png);
    background-size: cover;
}

.header-title {
    padding: 109px 0px;
    text-align: center;
    color: #fff;
}

.service-header-title {
    text-align: center;
    color: #fff;
}



/* 導覽列 */
.nvbar {
    padding: 12px 0px;
}

.nvbar-list>li {
    display: flex;
    align-items: center;
}

.nvbar-list a {
    text-decoration: none;
    display: block;
    padding: 4px 12px;
}

/* 首頁 */
.index-content {
    width: 40%;
    flex-direction: column;
}

.index-image {
    width: 60%;
}

.index-image>img {
    display: block;
}

.index-btn-group {
    gap: 24px;
}

/* 首頁-service */
.service {
    background-color: #24140B;
    color: #fff;
}

.service-list {
    gap: 24px;
}

.service-card {
    background-color: #fff;
    width: 25%;
    color: #404040;
}

/* 箭頭按鈕 */
.service-card-body>a,
.service-container a {
    border-radius: 50%;
    text-decoration: none;
    font-size: 24px;
    padding: 12px;
    color: #fff;
    width: 48px;
    height: 48px;
    display: block;
    background-color: #404040;
}

/* 首頁 - projects */
.projects-card {
    background-color: #fff;
    width: 33%;
    text-align: center;
}

.content-bg1 {
    background-image: url(./img/project_1.png);
    object-fit: cover;
}

.content-bg2 {
    background-image: url(./img/project_2.png);
    object-fit: cover;
}

.content-bg3 {
    background-image: url(./img/project_3.png);
    object-fit: cover;
}

/* 首頁 - blogs */
.index-blogs-card {
    width: 33%;
    gap: 12px;
}

/* 首頁 SUBSCRIPTION */
.subscription-bg {
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, .3),
            rgba(0, 0, 0, .7)), url(./img/subscription_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    color: #fff;

}

.subscription-info {
    padding: 80px 40px;
    max-width: 59%;
}

.subscription-btn {
    border: solid #fff 1px;
    padding: 12px 24px;
    border-radius: 40px;
}


/* footer - contact */
.contact-bg {
    color: #fff;
    background-color: #24140B;
}

.contact-form {
    padding: 0px 40px;
    width: 58%;
}

/* blogs 部落格 */

/* blog list */
.blog-post-list {
    max-width: 180px;
    font-weight: bold;
    font-size: 18px;
}

.blog-post-list a {
    text-align: center;
    padding: 12px 24px;
    display: block;
    text-decoration: none;
}

.active-list a {
    background-color: #24140B;
    color: #fff;

}

.blog-post-content {
    max-width: 1076px;

}

.blog-post-content-text {
    max-width: 550px;
    padding: 57px 0px 57px 24px;
}

.blog-post-content-text h2 {
    font-size: 24px;
}

.blog-content-card {
    max-height: 256px;
}

.blog-card-info {
    font-size: 14px;
}

.blog-card-info .material-symbols-outlined {
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
}

.blog-post-content-img img {
    display: block;
    object-fit: cover;
}

/* blog-listpages */
.listpages {
    align-self: flex-end;
    padding-bottom: 80px;
}

.listpages a {
    padding: 8px 15px;
    display: block;
    text-decoration: none;
    border-radius: 1000px;
}

.listpages-black {
    background-color: #404040;
    color: #fff;
}

/* projects */
.content-bg4 {
    background-image: url(./img/project_4.png);
    object-fit: cover;
}

.project-menu {
    width: 100%;
}


.project-menu li {
    text-align: center;
    width: 20%;

}

.project-menu a {
    text-decoration: none;
    display: block;
    padding: 12px;
}



/* service */
.service-menu {
    max-width: 1076px;
    text-align: center;

    color: #404040;
}

.service-menu>li {
    width: 25%;
    background-color: #fff;
    padding: 32px 60px;
}

.service-menu>li.menu-black {
    background-color: #24140B;
    color: #fff;
}

.service-step-bg {
    background-color: #24140B;
    color: #fff;
}

.service-content {
    max-width: 636px;
}

.service-content li {
    border-left: 1px solid #fff;
    position: relative;
    padding: 0px 0px 40px 44px;

}

.service-content li:last-child {
    border-left: none;
}

.service-icon {
    background-color: #fff;
    color: #404040;
    position: absolute;
    padding: 12px 20px;
    border-radius: 50%;
    top: -6px;
    left: -24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* service 手風琴區域 */

.faq-bg {
  background: #FDF7F1;
}

.faq {
  color: #404040;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 80px 0;
}

.faq-title h2 {
  font-size: 48px;
  line-height: 1.2;
}

.faq-container {
  width: 60%;
}

.faq-item {
  border-bottom: 1px solid #24140B;
  padding: 24px;
}

.faq-header {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

/* 箭頭樣式與旋轉動畫 */
.faq-arrow {
  width: 12px;
  height: 12px;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg); /* 預設箭頭朝下 */
  transition: transform 0.3s ease; /* 旋轉動畫 */
  margin-left: auto;
}

/* 利用 max-height 變化實現滑動效果 */
.faq-body {
  max-height: 0; /* 預設高度為 0，隱藏內容 */
  overflow: hidden;
  transition: max-height 0.3s ease-out; /* 展開時的滑動動畫 */
}

.faq-content {
  font-weight: 500;
  padding-left: 34px;
  padding-top: 16px;
}

/* 1. 展開內容區塊 */
.faq-item.faqactive .faq-body {
  max-height: 300px;
}

/* 2. 讓箭頭旋轉 180 度變成朝上 */
.faq-item.faqactive .faq-arrow {
  transform: rotate(-135deg); 
}

/* article 頁面 */
.article-giuld-bg{
    background-color: #24140B;
    color: #fff;
    padding: 12px 0px;
}

.article-high-light{
    text-align: center;
    background-color: #FDF7F1;
}

/* select menu */

.menu-black {
    background-color: #24140B;
    color: #fff;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}

.modal-content {
    background-color: #ffffff;
    /* padding: 60px 20px; */
    border-radius: 8px;
    max-width: 1076px;
    width: 90%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

}

#closeModalBtn {
    padding: 12px;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.closeModalBtn {
    justify-content: flex-end;
    padding: 12px 24px;
}


.active {
    display: flex;
}

/* modal內文樣式 */
.model-content-bg {
    background-color: #FDF7F1;
    text-align: center;
}

.model-content-info-r {
    padding-right: 24px;
    width: 66%;
}

.model-content-info-l {
    padding: 10px 0;
}

.model-content-info-l>p {
    padding-left: 24px;
    border-left: 1px solid #737373;
}