/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* 清除文字輸入框、多行文字框、按鈕的原始樣式 */
input[type="text"],
textarea,
button {
    -webkit-appearance: none;
    /* 移除 Safari / Chrome 的內建行動裝置樣式 */
    -moz-appearance: none;
    /* 移除 Firefox 的內建樣式 */
    appearance: none;
    /* 標準的外觀清除屬性 */

    background: transparent;
    /* 移除預設背景色（如按鈕的灰色） */
    border: none;
    /* 移除預設邊框 */
    outline: none;
    /* 移除點擊時的預設外框線 */
    padding: 0;
    /* 移除內建內距 */
    margin: 0;
    /* 移除內建外距 */

    font-family: inherit;
    /* 繼承父元素的字體 */
    font-size: inherit;
    /* 繼承父元素的字體大小 */
    color: inherit;
    /* 繼承父元素的文字顏色 */
}

/* box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my css */
body,
a {
    color: #404040;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-family: "Noto Sans", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/* 自訂區 */
.fw700 {
    font-weight: 700;
}

.fz80 {
    font-size: 80px;
    line-height: 120%;
}

.fz28 {
    font-size: 28px;
}

.fz24 {
    font-size: 24px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb60 {
    margin-bottom: 60px;
}

.mr12 {
    margin-right: 12px;
}

.ptb80 {
    padding: 80px 0px;
}

.p24 {
    padding: 24px;
}

.p28 {
    padding: 28px;
}

.p40 {
    padding: 40px;
}

.gap12 {
    gap: 12px;
}

.gap24 {
    gap: 24px;
}

.df {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}

.jcc {
    justify-content: center;
}

.alc {
    align-items: center;
}

.fdc {
    flex-direction: column;
}

.img-block {
    display: block;
    object-fit: cover;
}

/* container */
.subscription,
.blogs,
.projects,
.blog-post,
.index,
.nvbar,
.service-container {
    max-width: 1296px;
    margin: 0 auto;
}

/* 按鈕 */
.btn-black {
    border-radius: 999px;
    text-decoration: none;
    padding: 12px 24px;
    color: #fff;
    display: block;
    background-color: #404040;
    font-weight: 500;
}

/* 導覽列 */

/* 首頁 */
.index-content {
    width: 40%;
    flex-direction: column;
}

.index-image {
    width: 60%;
}

.index-image>img {
    display: block;
}

.index-btn-group {
    gap: 24px;
}

/* 首頁-service */
.service {
    background-color: #24140B;
    color: #fff;
}

.service-list {
    gap: 24px;
}

.service-card {
    background-color: #fff;
    width: 25%;
    color: #404040;
}

.service-card-body>a {
    border-radius: 50%;
    text-decoration: none;
    font-size: 24px;
    padding: 12px;
    color: #fff;
    width: 48px;
    height: 48px;
    display: block;
    background-color: #404040;
}

/* 首頁 - projects */
.projects-card {
    background-color: #fff;
    width: 33%;
    text-align: center;
}

.content-bg1 {
    background-image: url(./img/project_1.png);
    object-fit: cover;
}

.content-bg2 {
    background-image: url(./img/project_2.png);
    object-fit: cover;
}

.content-bg3 {
    background-image: url(./img/project_3.png);
    object-fit: cover;
}

/* 首頁 - blogs */
.index-blogs-card {
    width: 33%;
    gap: 12px;
}

/* 首頁 SUBSCRIPTION */
.subscription-bg {
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, .3),
            rgba(0, 0, 0, .7)), url(./img/subscription_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    color: #fff;

}

.subscription-info {
    padding: 80px 40px;
    max-width: 59%;
}

.subscription-form {
    border: solid #fff 1px;
    padding: 12px 24px;
    border-radius: 40px;
}

/* 表單系列 */
.form-white {
    background: none;
    color: #fff;
}

input[type="text"]::placeholder {
    color: #fff;
    /* 將提示文字改為淺灰色 */
    opacity: 1;
    /* 確保 Firefox 瀏覽器下顏色不會變淡 */
}

/* 部落格 */
.blog-post-list {
    max-width: 180px;
    font-weight: bold;
    font-size: 18px;
}

.blog-post-list a {
    text-align: center;
    padding: 12px 24px;
    display: block;
    text-decoration: none;
}

.active-list a {
    background-color: #24140B;
    color: #fff;

}

.blog-post-content {
    max-width: 1076px;

}

.blog-post-content-text {
    max-width: 550px;
    padding: 57px 0px 57px 24px;
}

.blog-post-content-text h2 {
    font-size: 24px;
}

.blog-content-card {
    max-height: 256px;
}

.blog-card-info {
    font-size: 14px;
}

.blog-card-info .material-symbols-outlined {
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
}

.blog-post-content-img img {
    display: block;
    object-fit: cover;
}